*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*:root {
    font-size: 10px; 
}*/
body {
    font-family: 'Montserrat', sans-serif;
}

/* INICIO NAV BAR */
.color-fondo-nav {
    background-color: #121212;
}
.logo-nav {
    height: 5rem;
}
.nav-centrado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbarNav { /*para que se centre el nav*/
    display:flex;
    justify-content: space-around;
    align-items: center;
}
/* INICIO 1ra Section */
.degrade-cite {
    background: linear-gradient(to bottom, rgb(12, 12, 12) 20px, #fff, rgb(15, 202, 171));
    display: flex;
    /*flex-direction: column;
    justify-content: center;
    align-items: center; estos creo que no hacen nada ahora, chequear antes de eliminar!*/
}
cite {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5rem;
    color: #000;
    text-shadow: 1px 1px #fff; /*la sombrita se va en cualquier momento*/
}
.autor {
    text-align: center;
    color: rgb(97, 97, 97);
    font-weight: bold;
    margin-top: 2rem;
}
/*BOTON REDES FLOAT*/
.button-socials {
    background-color: rgb(135, 2, 153);
    border: none;
    color: whitesmoke;
    padding: 8px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px 0 0 30px;
    box-shadow: -2px 4px 8px rgba(105, 6, 97, 0.664);
    position: fixed;
    top: center;
    right: 0;
    display: block;
    z-index: 100;
}
.button-socials ul {
    display: flex;
    list-style: none;
}
.button-hide {
    /*display: none;
    si éste lo dejo sin comentar, es como quiero que se vea el botón 
    cuando no tiene el mouse encima*/
    visibility: hidden;
}
.button-socials:hover {
    color: rgb(135, 2, 153);
    background-color: plum;
    transition: 0.4s;
}
.button-socials:hover ul li a {
    color: rgb(135, 2, 153);
    background-color: plum;
    transition: 0.5s;
    margin: 0 5px;
    padding-left: 8px;
    visibility: visible;
}
/*cuando el mouse esta arriba queda como quiero,
pero no así el boton inicial*/

/* INICIO Seccion Galería*/
h1 {
    font-size: 4rem;
    color: rgb(15, 202, 171);
    text-align: center;
    margin: 4rem 0;
    align-content: center;
}
h2 {
    font-size: 3rem;
    color: rgb(219, 93, 181);
}
h3 {
    font-size: 2rem;
    color: orchid;
    /*text-align: center;*/
    margin: 1rem 0;
}
strong {
    font-size: 2rem;
}
section .see-more { /*links VER MAS */
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: indigo;
    text-decoration: underline;
    text-align: center;
    text-decoration-style: wavy;
    /*sacar la "wavy y hacerle algo que quede mejor*/
    text-decoration-color: rgb(243, 140, 212);
    text-decoration-thickness: 25%;
    display: block;
    margin: 4rem 0 10rem 0;
}
.escala:hover {
    transform: scale(1.5);
    border-radius: 10px;
    transition: ease 0.5s;
}
/* INICIO Section: nosotros*/
h4 {
    font-size: 2rem;
    color: orchid;
    padding-top: 5rem;
}
.us {
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 7rem;
}
/*INICIO FOOTER*/
footer {
    background-color: rgb(12, 12, 12);
}
.footer-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}
footer ul a, footer ul li a {
    color: orange;
    font-size: 1.5em;
    text-decoration: none;
    margin: 2rem 3rem;
}
.footer-p {
    color: orange;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 2rem;
}
/*FIN FOOTER*/

