@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*:root {
    font-size: 10px; 
}*/
body {
  font-family: 'Montserrat', sans-serif !important;
}

/* INICIO HEADER */
header .bgc-header {
  background-color: #121212;
}

header .mc-logo {
  size: auto;
}

header .lista-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

header .nav-margin {
  margin-left: 2rem;
}

@media (max-width: 992px) {
  header .mclovin-nav {
    display: none;
  }
}

/* FIN HEADER */
/* INICIO Section Cite */
section p {
  margin-top: 5rem;
}

section p cite {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5rem;
  color: #000;
  font-style: italic;
}

@media (max-width: 768px) {
  section p cite {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  section p cite {
    font-size: 1.5rem;
  }
}

section .autor {
  text-align: center;
  color: #616161;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.degrade-cite {
  background: linear-gradient(to bottom, #0c0c0c 20px, #fff, #0fcaab);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
}

/* FIN Section Cite */
/*BOTON REDES FLOAT*/
.button-socials {
  background-color: #870299;
  border: none;
  color: whitesmoke;
  padding: 3px;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 30px 0 0 30px;
  -webkit-box-shadow: -2px 4px 8px rgba(105, 6, 97, 0.664);
          box-shadow: -2px 4px 8px rgba(105, 6, 97, 0.664);
  position: fixed;
  text-align: center;
  right: 0;
  display: block;
  z-index: 100;
}

.button-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media (max-width: 576px) {
  .button-socials {
    display: none;
  }
}

.button-hide {
  visibility: hidden;
}

.button-socials:hover {
  color: #870299;
  background-color: plum;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.button-socials:hover ul li a {
  color: #870299;
  background-color: plum;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 5px;
  padding-left: 8px;
  visibility: visible;
}

/*Fin boton redes*/
/* Inicio Seccion GALERIA */
h1 {
  font-size: 3rem;
  color: #0fcaab;
  margin-top: 10rem;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 3rem;
  color: orchid;
}

@media (max-width: 992px) {
  h2 {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 2rem;
  color: orchid;
}

@media (max-width: 768px) {
  h3 {
    font-size: 1rem;
    margin-top: 2rem;
  }
}

strong {
  font-size: 1.5rem;
  color: #ffff00;
  font-style: italic;
}

@media (max-width: 768px) {
  strong {
    font-size: 1rem;
  }
}

section .see-more {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  color: #9b1171;
  text-decoration: underline;
  text-align: center;
  text-decoration-thickness: 15%;
  display: block;
  margin: 4rem 0 10rem 0;
}

section .see-more:hover {
  color: orchid;
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(155, 17, 114, 0.4);
}

@media (max-width: 768px) {
  section .see-more {
    font-size: 1rem;
  }
}

.item-img {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .item-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.inverso {
  text-align: right;
}

@media (max-width: 768px) {
  .inverso {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: left;
  }
}

section div p {
  color: white;
}

section div p a {
  text-decoration: none;
  cursor: pointer;
  color: #870299;
}

section div p a:hover {
  color: orchid;
  font-style: italic;
}

/*fin seccion galeria*/
/*Inicio seccion NOSOTROS*/
h4 {
  color: orchid;
  font-size: 2rem;
  padding-top: 3rem;
  margin-left: 3rem;
}

.us {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.33333rem;
  margin: 1rem 2rem 2rem 3rem;
  color: white;
}

@media (max-width: 992px) {
  .us {
    font-size: 1.3rem;
  }
}

.us-dos {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  text-align: center;
  font-style: italic;
  margin-bottom: 7rem;
  color: white;
}

@media (max-width: 992px) {
  .us-dos {
    font-size: 1.4rem;
    text-align: left;
    margin-left: 3rem;
  }
}

/*Fin seccion NOSOTROS*/
/*Inicio Footer*/
footer {
  background-color: #0c0c0c;
}

footer ul a {
  color: orange;
  font-size: 1.3em;
  text-decoration: none;
  margin: 2rem 3rem;
}

@media (max-width: 992px) {
  footer ul a {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  footer ul a {
    font-size: 0.9em;
    margin-right: 2rem;
  }
}

footer ul li a {
  color: orange;
  font-size: 1.5em;
  text-decoration: none;
  margin: 2rem 3rem;
}

@media (max-width: 992px) {
  footer ul li a {
    font-size: 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-p {
  color: orange;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 2rem;
  font-family: "Roboto", sans-serif;
}

/*Fin Footer*/
/*sección tienda*/
.card-text-color {
  color: #000;
  margin: auto;
}

.btn-margin {
  margin-bottom: 1rem;
}

.h-tienda {
  margin-bottom: 2rem;
  text-align: center;
}

.card-margin {
  margin-top: 2rem;
}

@media (max-width: 992px) {
  .se-va {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  .se-va2 {
    display: none;
    visibility: hidden;
  }
}

body {
  background-color: #0c0c0c;
}

/*GALERIA.html*/
/*Me falta editarle los comandos al carousel porque no quedan legibles*/
.bg-color-gallery {
  background-color: #0c0c0c;
}

.carousel-centrado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem 0;
}

/*CONTACTO.html*/
.bgc-body {
  background-color: orchid;
}

.h1-bgc {
  background-color: #870299;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 2.5rem;
  margin-top: 5rem;
}

.body-contact {
  color: #121212;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.contact-marg {
  margin-top: 1rem;
}

.speaker-form-section {
  text-align: center;
  background-color: #870299;
  padding-bottom: 15px;
  margin: 0 3rem 0 3rem;
  border-radius: 5px;
}

.more-info {
  color: whitesmoke;
  font-size: 1em;
  padding: 1rem 2rem 0 2rem;
}

.form-row {
  margin-bottom: 40px;
  padding: 0 3rem 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-row input[type="text"], input[type="email"] {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 16px 0;
}

.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid {
  border: 2px solid #9b1171;
  color: red;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mensaje {
  background-color: #fff;
  border: 2px solid #9b1171;
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

.send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #870299;
  color: orchid;
  border-radius: 10px;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.send:hover {
  background-color: whitesmoke;
  color: #870299;
  border-radius: 50px;
  border: double;
}
/*# sourceMappingURL=styles.css.map */