@import 'functions/mixins';
@import 'functions/operations';

/* INICIO Section Cite */
section {
	p {
		cite {
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			font-size: 2.2rem;
			color: #000;
			@include italic;
			@media (max-width:768px) {
				font-size: 2rem;
			}
			@media (max-width:576px) {
				font-size: 1.5rem;
			}
		}
	}
	.autor {
		text-align: center;
		color: rgb(97, 97, 97);
		font-weight: bold;
		margin-bottom: 1.5rem;
		margin-top: 2rem;
	}
}
.porfa {
	margin: 2rem 3rem 0 3rem;
}
.degrade-cite {
	background: nth($colors, 3);
	opacity: 80%;	
	display: flex;
	margin-top: 5rem;
}
/* FIN Section Cite */ 
