@import '../functions/mixins';

/* INICIO 1ra Section */
section {
	p {
		margin-top: 5em;
		cite {
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			font-size: 2.5rem;
			color: #000;
			@include italic;
			@media (max-width:768px) {
				font-size: 2rem;
			}
			@media (max-width:576px) {
				font-size: 1.5rem;
			}
		}
	}
	.autor {
		text-align: center;
		color: rgb(97, 97, 97);
		font-weight: bold;
	}
}
.degrade-cite {
	background: linear-gradient(to bottom, rgb(12, 12, 12) 20px, #fff, rgb(15, 202, 171));
	display: flex;
}
/* FIN 1ra Section */ 
