@import '../functions/mixins';

/*Inicio Footer*/
footer {
	background-color: rgb(12, 12, 12);
	ul {
		a {
			color: orange;
			font-size: 1.3em;
			text-decoration: none;
			margin: 2rem 3rem;
			@media (max-width:992px) {
				font-size: 0.9em;
			}
			@media (max-width:768px) {
				font-size: 0.9em;
				margin-right: 2rem;
			}
		}
		li {
			a {
				color: orange;
				font-size: 1.5em;
				text-decoration: none;
				margin: 2rem 3rem;
				@media (max-width:992px) {
					font-size: 1em;
					flex-direction: column;
				}
			}
		}
	}
}
.footer-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	align-items: center;
}
.footer-p {
	color: orange;
	font-size: 1rem;
	text-align: center;
	padding-bottom: 2rem;
	font-family: "Roboto", sans-serif;
}
/*Fin Footer*/
