@import '../functions/mixins';
@import '../functions/operations';

/* Inicio Seccion GALERIA */
h1 {
	font-size: $size * 1.5;
	color: rgb(15, 202, 171);
	margin-top: 10rem;
	text-align: center;
	@media (max-width:768px) {
		font-size: 3rem;
	}
	@media (max-width:576px) {
		font-size: 2rem;
	}
}
h2 {
	font-size: $size + 1;
	@include titulos;
	@media (max-width:992px) {
		font-size: 2rem;
	}
	@media (max-width:768px) {
		font-size: 1.5rem;
	}
}
h3 {
	font-size: $size;
	@include titulos;
	@media (max-width:768px) {
		font-size: $size / 2;
	}
}
strong {
	font-size: ($size / 2) + 0.5;
	color: #ffff00;
	font-style: italic;
	@media (max-width:768px) {
		font-size: $size / 2;
	}
}
section {
	.see-more {
		font-size: $size - 0.5;
		font-weight: bold;
		font-style: italic;
		color: rgb(155, 17, 113);
		text-decoration: underline;
		text-align: center;
		text-decoration-thickness: 15%;
		display: block;
		margin: 4rem 0 10rem 0;
		&:hover {
			color: orchid;
			cursor: pointer;
			text-decoration: none;
			background-color: rgba(155, 17, 114, 0.4);
		}
		@media (max-width:768px) {
			font-size: $size / 2;
		}
	}
}
.item-img {
	margin-top: 7rem;
	display: flex;
	align-items: center;
	@media (max-width:576px) {
		flex-direction: column;
	}
}
.imp-align {
	text-align: right;
}
section div p {
	color: white;
	a {
		text-decoration: none;
		cursor: pointer;
		color: rgb(135, 2, 153);
		&:hover {
			color: orchid;
			font-style: italic;
		}
	}
}
/*fin seccion galeria*/