@import '../base/reset';
@import '../base/fonts';
@import 'components/header';
@import 'components/footer';
@import '../functions/mixins';
@import '../functions/operations';

/*GALERIA.html*/
body {
    background-color:nth($colors, 1);
}
.bgc1 {
    background: nth($colors, 4);
}
.bgc2 {
    background: nth($colors, 5);
}
.bgc3 {
    background: nth($colors, 2);
}
.bgc4 {
    background: nth($colors, 6);
}
/*no se que me pasa que no me toma las clases y no pude seguir editando
la galeria, abajo en "output" me tira un error pero no entiendo
cual es y no pude solucionarlo*/
