/* INICIO HEADER */
header { 
    .color-fondo-nav {
        background-color: #121212;
    }
    #navbarNav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5rem;
    }
    .li-margin {
        margin-left: 2rem;
    }
    @media (max-width:992px) {
        .mclovin-nav {
            display: none;
        }
    }
} /* FIN HEADER */