/* INICIO HEADER */
header { 
    .bgc-header {
        background-color: nth($colors, 1);
    }
    .mc-logo {
        size: auto;
    }
    .lista-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5rem;
    }
    .nav-margin {
        margin-left: 2rem;
    }
    @media (max-width:992px) {
        .mclovin-nav {
            display: none;
        }
    }
} /* FIN HEADER */