/* INICIO HEADER */
header { 
    .color-fondo-nav {
        background-color: #121212;
    }
    .logo-nav {
        height: 7rem;
    }
    #navbarNav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5rem;
    }
    .li-margin {
        margin-right: 2rem;
    }
} /* FIN HEADER */