/*sección tienda*/ 
@import '../functions/mixins';
@import '../functions/operations';

.card-text-color {
    color: #000;
    margin: auto;
}
.btn-margin {
    margin-bottom: 1rem;
}
.h-tienda {
    margin-bottom: 2rem;
    text-align: center;
}
.card-margin {
    margin-top: 2rem;
}
.se-va {
    @media (max-width:992px) {
        display: none;
        visibility: hidden;
    }
}
.se-va2 {
    @media (max-width:768px) {
        display: none;
        visibility: hidden;
    }
}