@import '../functions/mixins';
@import '../functions/operations';

/*Inicio seccion NOSOTROS*/
h4 {
	@include titulos;
	font-size: $size;
	padding-top: 3rem;
}
.us {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: ($size * 2)-2;
	margin: 1rem 2rem 7rem 2rem;
	color: white;
	@media (max-width:768px) {
		font-size: 1.5rem;
	}
	@media (max-width:576px) {
		font-size: 1rem;
	}
}
/*Fin seccion NOSOTROS*/